.pagination {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
  }
  
  .pagination li {
    margin: 0 5px;
  }
  
  .pagination li a {
    padding: 8px 12px;
    border: 1px solid #01080f;
    color: #010408;
    cursor: pointer;
    text-decoration: none;
  }
  
  .pagination li.active a {
    background-color: #010408;
    color: white;
    border-color: #010408;
  }
  
